@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Rubik+Doodle+Shadow&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Nunito Sans', sans-serif;
    user-select: none;
    transition: background-color .5s ease;
}

:root{
    --gradient: linear-gradient(to right bottom, orangered, orange);
    --primary-color: #ffa500;
    --secondary-color: #f7f7f7;
    --bg-light: #fefefe;
    --white:#fefefe;
    --dark:#121212;
    --text-color:#4a4a4a;
    --border:#eee;
    --border-focus:#bbb;
    --grey:#aaa;
}

.dark-theme{
    --gradient: linear-gradient(to right bottom, orangered, orange);
    --primary-color:orange;
    --secondary-color:rgba(255,255,255,.07);
    --bg-light: #121212;
    --white:#fefefe;
    --dark:#121212;
    --text-color:#fefefe;
    --border:#212121;
    --border-focus:#bbb;
    --grey:#aaa;
}

*::selection {
    background-color: var(--primary-color);
    color: var(--white);
}

*::-webkit-scrollbar {
    /* height: .5rem;
    width: 4px; */
    display: none;
}

*::-webkit-scrollbar-track {
    /* background-color: var(--secondary-color); */
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
}

body{
    background: var(--primary-color);
    height: 100vh;
}

.hide{
    display: none;
}

#app{
    width: 500px;
    min-height: 100vh;
    margin: auto;
    background-color: var(--bg-light);
    overflow: hidden;
    position: relative;
}


/* splashScreen */
.splashScreen{
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
.splashContent{
    width: 80%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.splashContent div{
    opacity: 0;
    transform: translateY(100px);
    animation: splash .5s ease 500ms 1 forwards;
}
@keyframes splash {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.splashContent img{
    width: 100%;
    background-color: var(--dark);
    padding: 1rem;
    /* border-radius: 119px 45px 165px 86px;
    -webkit-border-radius: 119px 45px 165px 86px;
    -moz-border-radius: 119px 45px 165px 86px; */
}
.splashContent h3{
    margin-top: 1rem;
    color: var(--primary-color);
}
.splashContent button{
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 50px;
    border: 0;
    border-bottom: 4px solid rgba(0,0,0,.5);
    background-color: var(--primary-color);
    font-weight: bold;
    opacity: 0;
    transform: translateY(100px);
    animation: splash .5s ease 1000ms 1 forwards;
}

.splashContent button:active{
    background-color: var(--dark);
    color: var(--white);
}
.splashContent button:active i{
    color: var(--white);
}

.splashContent button:focus-within{
    outline: 3px solid var(--primary-color);
    outline-offset: 3px;
}

/* Homepage */
.homePage{
    padding-bottom: 3rem;
}
header{
    height: 60px;
    /* border-bottom: 1px solid var(--border); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
header button{
    background-color: transparent;
    padding: .5rem .9rem;
    border-radius: .5rem;
    border: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    transition: .5s;
}
body.dark-theme header button{
    box-shadow: 0 10px 30px rgba(0,0,0,.8);
}

.prevBtn{
    font-size: 1.2rem;
}
.themeToggle{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.themeToggle i{
    font-size: 1.2rem;
}
.themeName{
    font-size: 1rem;
}

.fa-sun.hide{
    display: none;
}
.fa-moon.hide{
    display: none;
}

/* Hero container */
main{
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
    opacity: 0;
    transform: translateY(100px);
    animation: splash .5s ease 1000ms 1 forwards;
}
.mark{
    color: var(--primary-color);
}
.heroContainer{
    margin-bottom: 1rem;
}
.heroContainer h1{
    font-size: 25px;
}
.heroContainer .brand{
    font-family: 'rubik doodle shadow';
    color: var(--primary-color);
}
.heroContainer .brand.mark{
    color: var(--primary-color);
}

.clickableSearch{
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: .5rem;
}
main a{
    cursor: default;
}
/* Categories */
.categoryContainer{
    margin: 2rem 0;
}
.categories,
.add-ons{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    margin-top: 1rem;
}

.categories li, .add-on-item{
    text-align: center;
    /* box-shadow: 0 10px 30px rgba(0,0,0,.08); */
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--secondary-color);
}
/* body.dark-theme .categories li{
    background-color: var(--secondary-color);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
} */
.categories img, .add-on-item img{
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
    object-fit: contain;
}

/* locations */
.locationContainer{
    margin: 2rem 0;
}
.locations{
    padding: 1rem;
}
.locations li{
    line-height: 30px;
    font-size: 16px;
    margin-bottom: .5rem;
    width: 100%;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--border);
}

/* socialMedia */
.socialMedia{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.socialMedia a{
    /* padding: 1.5rem 2rem; */
    height: 100px;
    width: 100px;
    background-color: var(--primary-color);
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search Box */
.searchContainer{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    border-radius: .5rem;
}
.searchContainer input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    padding-left: 1rem;
    border-radius: .5rem;
    font-size: .9rem;
}
.searchContainer input::placeholder{
    color: var(--text-color);
    
}
.searchContainer span{
    position: absolute;
    right: 1rem;
    color: var(--grey);
}
body.dark-theme .searchContainer span{
    color: var(--text-color);
}
.searchContainer input:focus{
    border: 1px solid var(--border);
    background-color: var(--bg-light);
}
.searchContainer input:focus-within{
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
}

/* dishContainer */
.dishContainer{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.dishItem{
    /* box-shadow: 0 10px 30px rgba(0,0,0,.08); */
    background-color: var(--secondary-color);
    padding: .5rem .5rem 1rem;
    border-radius: .5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body.dark-theme .dishItem{
    background-color: var(--secondary-color);
    box-shadow: 0 10px 20px rgba(0,0,0,.5);
}

.dishItem img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    border-radius: .2rem;
}

.dishItem h2{
    font-size: 17px;
}
.dishItem p{
    font-size: 13px;
}
.dishPrice{
    color: var(--primary-color);
}
.dishItem table{
    width: 100%;
    margin: 1rem 0;
}
.dishItem button{
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 0;
    background: var(--primary-color);
    color: var(--white);
    width: 100%;
}
.dishItem button:focus-within{
    outline: 2px solid var(--primary-color);
    outline-offset: 1px;
}

/* responsiveness */
@media screen and (max-width: 550px) {
    #app{
        width: 100%;
        min-height: 100vh;
        overflow: scroll;
    }
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--bg-light);
        z-index: 5;
    }
    .homePage, .menuPage{
        padding-top: 65px;
        height: auto;
    }
}
@media screen and (max-width: 390px) {
    
    .splashContent{
        width: 90%;
    }
    .splashContent h3{
        font-size: 16px;
    }
    .socialMedia a{
        height: 60px;
        width: 60px;
        font-size: 1rem;
    }
}
