:root{
    --gradient: linear-gradient(to right bottom, orangered, orange);
    --gradient-2: linear-gradient(45deg, #fefefe, rgba(255, 165, 0, .1));
    --primary-color: #ffa500;
    --secondary-color: #f7f7f7;
    --bg-color: #fefefe;
    --bg-color-2: #fefefe;
    --white:#fefefe;
    --dark:#030303;
    --text-color:#4a4a4a;
    --border:#eee;
    --border-focus:#bbb;
    --grey:#aaa;
}

.dark-theme{
    --gradient: linear-gradient(to right bottom, orangered, orange);
    --primary-color:orange;
    --secondary-color:rgba(255,255,255,.05);
    --bg-color:#040b20;
    --bg-color-2: rgba(255,255,255,.05);
    --white:#fefefe;
    --gradient-2:linear-gradient(45deg, #0b132b, rgba(255, 165, 0, .1));
    --text-color:#fefefe;
    --border:#3a506b;
    --border-focus:#bbb;
    --grey:#aaa;
}

.transition{
    height: 100vh;
    width: 100%;
    background:var(--bg-color);
    position: fixed;
    z-index: 999;
    top: 0;
    left:0;
    transition: .3s ease;
    display: none;
}

.transition.is-active{
    display: block;
}

.transition-content{
    margin: 30% auto;
    padding: 1rem;
    width: 70%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    flex-direction: column;
}


/* @keyframes content {
    0%,
    100%{
        opacity: 0;
        transform: translateY(-150%);
    }
    10%,
    90%{
        opacity: 1;
        transform: translateY(0);
    }
} */

.spinner{
    height: 45px;
    width: 45px;
    border: 5px solid var(--secondary-color);
    border-radius: 50%;
    border-bottom: 5px solid var(--primary-color);
    animation: load 300ms ease infinite forwards;
}

@keyframes load {
    100%{
        transform: rotate(1turn);
    }
}

.transition-text{
    font-weight: bold;
    font-size: 1rem;
}

